appdirs==1.4.4
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828452693/work
asn1crypto==0.24.0
astroid @ file:///tmp/build/80754af9/astroid_1592495881661/work
async-generator==1.10
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
certifi==2020.6.20
cffi==1.12.3
chardet==3.0.4
click==7.1.2
conda==4.9.1
conda-package-handling==1.3.11
cryptography==2.7
Cython==0.29.21
daemonize==2.5.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.2
distro==1.5.0
dlx==1.0.4
docplex==2.15.194
entrypoints==0.3
fastdtw==0.3.4
fastjsonschema==2.14.4
greenlet==0.4.15
h5py==2.10.0
idna==2.8
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
inflection==0.5.0
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
inkscape-figures==1.0.8
inotify==0.2.10
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206598566/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
Jinja2==2.11.2
joblib==0.16.0
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console==5.2.0
jupyter-core==4.6.3
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
lazy-object-proxy==1.4.3
libarchive-c==2.8
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1594371495811/work
marshmallow==3.7.1
marshmallow-polyfield==5.9
mccabe==0.6.1
mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
more-itertools @ file:///tmp/build/80754af9/more-itertools_1598884071673/work
mpmath==1.1.0
msgpack==0.6.1
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1601914821128/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
neovim-remote==2.2.0
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1601499549014/work
networkx==2.4
nose==1.3.7
notebook @ file:///tmp/build/80754af9/notebook_1601501580008/work
ntlm-auth==1.5.0
numpy==1.19.0
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
pexpect @ file:///tmp/build/80754af9/pexpect_1594383317248/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1594384075987/work
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==1.0.15
psutil==5.6.3
ptyprocess==0.6.0
py @ file:///tmp/build/80754af9/py_1593446248552/work
pybind11==2.5.0
pycosat==0.6.3
pycparser==2.19
Pygments @ file:///tmp/build/80754af9/pygments_1604103097372/work
pylint @ file:///tmp/build/80754af9/pylint_1598624038450/work
pynvim==0.3.2
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyperclip==1.8.0
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1600141707582/work
pyscf==1.7.3
PySocks==1.7.0
pytest==0.0.0
python-constraint==1.4.0
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.2
qiskit==0.19.6
qiskit-aer==0.5.2
qiskit-aqua==0.7.3
qiskit-ibmq-provider==0.7.2
qiskit-ignis==0.3.3
qiskit-terra==0.14.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
Quandl==3.5.1
requests==2.22.0
requests-ntlm==1.1.0
retworkx==0.4.0
ruamel-yaml==0.15.46
scikit-learn==0.23.1
scipy==1.5.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.12.0
sympy @ file:///tmp/build/80754af9/sympy_1597083144364/work
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado==6.0.4
tqdm==4.32.1
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
typed-ast==1.4.1
Unidecode==1.1.1
urllib3==1.24.2
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websockets==7.0
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
