# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\30694\Documents\Kyriazis\Kyriazis Msc\Msc\MPHY0021\rse-classwork-2020\week05-testing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
